#header-area{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    transition: 0.5s;
    &.sticky{
        padding: 5px 0;
        background-color: $white;
        box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
        .main-menu{
            li a{
                color: $black;
                transition: 0.3s;
                &:hover{
                    color: $hoverColor;
                }
            }
        }
    }
}

.navbar-brand{
    font-size: 20px;
    font-weight: 500;
    color: $themeColor;
    letter-spacing: 2px;
    &:hover{
        color: $themeColor;
    }
}

.navbar-toggler{
    &:focus{
        outline: none;
    }
    i{
        color: $black;
    }
}

.main-menu{
    li{
        margin: 0 10px;
    }
    li a{
        font-size: 16px;
        font-weight: 500;
        color: $white;
        transition: 0.3s;
        &:hover{
            color: $hoverColor;
        }
    }
}

@include breakpointWidth(991px){
    #header-area{
        background-color: $white; 
    }
    
    .main-menu{
        li{
            margin: 5px 0;
        }
        li a{
            color: $black;
            transition: 0.3s;
            &:hover{
                color: $hoverColor;
            }
        }
    }
}